p,
h1,
h2 {
  color: aliceblue;
}
.backdropContainer {
  width: 100%;
}
.noBackdrop {
  width: 100%;
}

.topContainerWOBackdrop {
  margin: 10rem 0 0 0;
  position: static;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}

.backdrop {
  width: 100%;
  filter: brightness(50%);
}

.topContainerInfo {
  position: absolute;
  top: 47%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  z-index: 3;
}
.posterWithDetailsContainer {
  display: flex;
}
.poster {
  width: 300px;
  height: 450px;
  margin: 0 0 0 6rem;
}
.movieDetails {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 0 0 5rem;
}
.year {
  font-size: 2rem;
  font-weight: 300;
}
.title {
  font-size: 8rem;
  font-weight: 100;
  margin: 1rem 0 0 0;
}
.directors {
  display: flex;
  margin: 1rem 0 0 0;
}
.directed {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0.7rem 0 0;
}
.text {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0.7rem 0 0;
}
.genres {
  display: flex;
  margin: 1rem 0 0 0;
}
.genre {
  margin: 0 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 300;
}
.time {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0 0 0;
}
.rating {
  padding: 2rem 0 0 0;
  display: flex;
  margin: 0 5rem 2rem 0;
}

.star {
  color: aliceblue;
  font-size: 1.5rem;
}

.rate {
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
}

.directed:hover {
  text-decoration: solid underline aliceblue 1px;
}

.lowerContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.overviewSection {
  margin: 3rem;
  padding: 1rem 2rem;
  background-color: #121212;
  border-radius: 20px;
}
.secondaryTitle {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 2rem 2rem;
}
.overview {
  margin: 1rem 1rem 3rem 1rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.personSection {
  margin: 3.5rem;
}
.person {
  margin: 0 1.5rem 1rem 0;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: #121212;
}
.name {
  display: inline;
  color: rgb(188, 199, 207);
  font-size: 1rem;
}

.lowerRight {
  border-left: 1px solid rgb(73, 73, 73);
}
.person:hover {
  background-color: #3d3d3d;
}

@media all and (max-width: 1650px) {
  .topContainerInfo {
    top: 40%;
  }
  .poster {
    width: 250px;
    height: 375px;
  }
  .movieDetails {
    margin: 0 0 0 3rem;
  }
  .year {
    font-size: 1.5rem;
  }
  .title {
    font-size: 5rem;
  }
  .directed {
    font-size: 1.5rem;
  }
  .text {
    font-size: 1.5rem;
  }
  .genre {
    font-size: 1.2rem;
  }
  .time {
    font-size: 1.2rem;
  }
  .rate {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 1450px) {
  .topContainerInfo {
    top: 30%;
  }
}

@media all and (max-width: 1250px) {
  .topContainerInfo {
    top: 20%;
  }
  .overviewSection {
    margin: 2rem;
    padding: 0.5rem 1rem;
  }
  .secondaryTitle {
    font-size: 1.3rem;
  }
  .overview {
    margin: 1rem;
    font-size: 1rem;
  }
}

@media all and (max-width: 1000px) {
  .topContainerInfo {
    top: 15%;
  }
  .poster {
    width: 200px;
    height: 300px;
    margin: 0 0 0 3rem;
  }
  .movieDetails {
    margin: 0 0 0 2rem;
  }
  .year {
    font-size: 1.2rem;
  }
  .title {
    font-size: 3rem;
  }
  .directed {
    font-size: 1.2rem;
  }
  .text {
    font-size: 1.2rem;
  }
  .genre {
    font-size: 1rem;
  }
  .time {
    font-size: 1rem;
  }
  .rate {
    font-size: 1rem;
  }
}

@media all and (max-width: 850px) {
  .topContainerInfo {
    top: 10%;
    display: block;
  }
  .rating {
    padding: 0;
    margin: 0.8rem 0 0 17.5rem;
  }
  .directors {
    margin: 0.5rem 0 0 0;
  }
  .directed {
    margin: 0.5rem 0.7rem 0 0;
  }
  .text {
    margin: 0.5rem 0.7rem 0 0;
  }
  .genres {
    margin: 0.5rem 0 0 0;
  }
  .time {
    margin: 0.5rem 0 0 0;
  }
  .lowerContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 650px) {
  .backdrop {
    display: none;
  }
  .topContainerInfo {
    position: static;
    margin: 6rem 0 0 0;
  }
}

@media all and (max-width: 550px) {
  .poster {
    width: 100px;
    height: 150px;
  }
  .year {
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .directed {
    font-size: 1rem;
  }
  .text {
    font-size: 1rem;
  }
  .genre {
    font-size: 0.7rem;
  }
  .time {
    font-size: 0.7rem;
  }
  .rate {
    font-size: 0.7rem;
  }
  .rating {
    margin: 0.8rem 0 0 11rem;
  }
  .star {
    font-size: 0.8rem;
  }
  .topContainerWOBackdrop {
    margin: 6rem 0 0 0;
    display: block;
  }
}

@media all and (max-width: 400px) {
  .title {
    font-size: 1.5rem;
  }
  .posterWithDetailsContainer {
    display: block;
  }
  .poster {
    width: 200px;
    height: 300px;
  }
  .movieDetails {
    margin: 1rem 0 0 2.5rem;
  }
  .rating {
    margin: 0.8rem 0 0 2.5rem;
  }
}
