* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  margin: 0;
  background-color: #04041a;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
