.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Card {
  width: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 4rem;
  background-color: #12123d;
  border-radius: 3%;
}

.poster {
  align-self: center;
}

.name {
  color: aliceblue;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 1rem 0;
}

.rating {
  color: aliceblue;
  display: flex;
  align-items: center;
}

.star {
  font-size: 1.5rem;
}

.rate {
  padding-left: 0.5rem;
  font-size: 1rem;
}

.Card:hover {
  background-color: #272750;
  cursor: pointer;
}
