.dropdownInactive {
  background-color: #121212;
  padding: 1rem;
  margin: 1rem 0 2rem 3rem;
  display: inline-block;
  border-radius: 13px;
  display: inline-block;
}

.activeGenre {
  font-size: 1rem;
  color: aliceblue;
  display: inline-block;
  font-weight: 300;
}

.downIcon {
  font-size: 1.2rem;
  color: aliceblue;
  padding: 0.5rem 0 0 0.5rem;
}

.dropdownActive {
  position: absolute;
  background-color: #121212;
  left: 3rem;
  top: 14.5rem;
  border-radius: 13px;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: start;
  font-weight: 300;
}

.listItem {
  padding: 0 0 0.3rem 0;
  font-size: 1rem;
}

.dropdownInactive:hover {
  background-color: #242424;
  cursor: pointer;
}

.dropdownActive:hover {
  background-color: #242424;
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  .title {
    margin: 5.5rem 0 0 3rem;
    font-size: 2rem;
  }
  .dropdownInactive {
    padding: 0.7rem;
    margin: 1rem 2rem;
  }

  .dropdownActive {
    left: 2rem;
    top: 13rem;
  }

  .dropdownList {
    padding: 0.7rem;
  }
}

@media all and (max-width: 400px) {
  .title {
    margin: 4rem 0 0 2rem;
    font-size: 1.5rem;
  }
  .dropdownInactive {
    padding: 0.5rem;
    margin: 1rem 2rem;
  }

  .downIcon {
    font-size: 1.2rem;
    padding: 0.5rem 0 0 0.5rem;
  }

  .dropdownActive {
    left: 1.8rem;
    top: 10.5rem;
  }
}
