.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  color: rgb(207, 207, 207);
  font-size: 1.7rem;
  transition: 0.5s ease-in;
  position: absolute;
}

.searchBox {
  width: 50px;
  height: 50px;
  padding: 1.3rem;
  border-radius: 1rem;
  background-color: #04041a;
  color: aliceblue;
  outline: none;
  border: none;
  transition: 0.25s ease;
}

.active .searchBox {
  width: 250px;
}
