.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBtn {
  color: rgb(207, 207, 207);
  font-size: 1.8rem;
}

.closeBtn {
  font-size: 2.5rem;
  z-index: -1;
  color: rgb(219, 0, 0);
}

.searchBtn,
.closeBtn {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  transition: 0.25s ease-in;
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
}

.searchBox {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: #121212;
  color: aliceblue;
  outline: none;
  border: none;
  transition: width 0.25s ease-in;
}

.active.searchBox {
  width: 30rem;
}

.active.searchBox {
  background-color: #242424;
}

.active.closeBtn {
  z-index: 1;
  transform: translate(18rem, 2px);
}

.searchBtn:hover {
  color: rgb(255, 255, 255);
}

.closeBtn:hover {
  color: rgb(255, 0, 0);
}
.searchResultsContainer {
  margin: 0.5rem 0 0 0;
  height: fit-content;
  position: absolute;
  background-color: #121212;
  border-radius: 25px;
}
.searchResults {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

@media all and (max-width: 1300px) {
  .active.searchBox {
    width: 20rem;
  }

  .active.closeBtn {
    transform: translate(12rem, 2px);
  }

  .searchResults {
    width: 20rem;
  }
}

@media all and (max-width: 1100px) {
  .active.searchBox {
    width: 30rem;
  }

  .active.closeBtn {
    transform: translate(18rem, 2px);
  }

  .searchResults {
    width: 30rem;
  }
}

@media all and (max-width: 850px) {
  .active.searchBox {
    width: 20rem;
  }

  .active.closeBtn {
    transform: translate(12rem, 2px);
  }

  .searchResults {
    width: 20rem;
  }
}

@media all and (max-width: 500px) {
  .active.searchBox {
    width: 15rem;
  }

  .active.closeBtn {
    transform: translate(9rem, 2px);
  }

  .searchResults {
    width: 15rem;
  }
}

@media all and (max-width: 400px) {
  .active.searchBox {
    width: 13rem;
  }

  .active.closeBtn {
    transform: translate(7.5rem, 2px);
  }

  .searchResults {
    width: 13rem;
  }
}
