.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBtn {
  color: rgb(207, 207, 207);
  font-size: 1.8rem;
}

.closeBtn {
  font-size: 2.5rem;
  z-index: -1;
  color: rgb(219, 0, 0);
}

.searchBtn,
.closeBtn {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  transition: 0.25s ease-in;
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
}

.searchBox {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: #1c1c55;
  color: aliceblue;
  outline: none;
  border: none;
  transition: width 0.25s ease-in;
}

.active.searchBox {
  width: 35rem;
}

.active.searchBox {
  background-color: #323264;
}

.active.closeBtn {
  z-index: 1;
  transform: translate(300px, 2px);
}

.searchBtn:hover {
  color: rgb(255, 255, 255);
}

.closeBtn:hover {
  color: rgb(255, 0, 0);
}

.searchResultsContainer {
  margin: 1rem 0 0 0;
  height: fit-content;
  position: absolute;
  background-color: #1c1c55;
  border-radius: 25px;
}
.searchResults {
  display: flex;
  flex-direction: column;
  width: 35rem;
}

.result {
  height: 10rem;
  width: 35rem;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid rgba(165, 165, 165, 50);
}

.searchImg {
  justify-self: flex-start;
  padding-left: 1rem;
}

.searchInfo {
  padding-left: 2rem;
}

.resultTitle {
  color: rgb(207, 207, 207);
  font-size: 1.3rem;
}

.result:hover {
  background-color: #323264;
}
