.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  width: 100%;
  position: relative;
  display: inline-block;
}

.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.heroImg {
  width: 100%;
  filter: brightness(70%);
  margin: 0 auto;
}

.movieInfo {
  color: aliceblue;
  top: 40%;
  z-index: 3;
  width: 75%;
  padding: 0 0 0 7rem;
  position: absolute;
  overflow: hidden;
}

.year {
  font-size: 2rem;
}

.title {
  font-size: 8rem;
  font-weight: 100;
  margin: 0;
}

.overview {
  font-size: 1.5rem;
  text-overflow: ellipsis;
}

.rating {
  padding: 2rem 0 0 0;
  display: flex;
}

.star {
  font-size: 1.5rem;
}

.rate {
  padding: 0 0 0 1rem;
}
