img {
  width: 100vw;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: inline-block;
  width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
